.wrapper {
  align-items: center;
  background-color: #262C46;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-container {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 67vh;
  width: 19%;
}

.login-logo {
  width: 40%;
}

.field {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-login {
  border-color: rgba(0, 0, 0, 0.589);
  border-radius: 5px;
  border-width: 1px;
  font-size: 10px;
  height: 2.4vh;
  margin-bottom: 8px;
  padding: 5px;
  width: 85%;
}

#forgot-password {
  color: #000;
  text-transform: none;
  font-size: 11px;
  width: 85%;
  text-align: end;
}

.google-btn {
  background-color: #fff;
  border-radius: 6px;
  border-width: 1px;
  font-size: 11px;
  height: 4.4vh;
  margin-bottom: 30px;
  width: 58%;
}

.or-span {
  margin-bottom: 30px;
}

.login-btn {
  align-items: center;
  background-color: #67E17E;
  border-radius: 6px;
  border-color: #67E17E;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  height: 38px;
  margin-top: 30px;
  padding: 5px;
  width: 212px;
}

#signup-link {
  color: #000;
  font-size: 11px;
  text-transform: none;
}

.cadastre-se {
  color:#4e9ee2;
  font-weight: 900;
}

.termos-18 {
  font-size: 8px;
  margin-bottom: 10px;
}

.confirm-18 {
  font-size: 11px;
  display: flex;
}

#idade {
  margin-right: 5px;
}

hr {
  border: 0;
  border-top: 1px solid rgb(133, 133, 133);
  height: 1px;
  overflow: visible;
  padding: 0;
  color: rgb(133, 133, 133);
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
}

hr::after {
  content: "ou";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 0.9em;
  padding: 0 0.3em;
  background: white;
}

@media only screen and (max-width: 1200px) {
  .login-container {
    width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .login-container {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 55%;
  }
}

@media only screen and (max-width: 400px) {
  .login-container {
    width: 70%;
  }
}
