.shelf-container {
  display: flex;
  height: 1200px;
}

.shelf-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  width: 87.7%;
}

#shelf-banner {
  margin: 7px;
}

.categories-list {
  color:#D2D3D9;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 40px;
}

.shelf-h2 {
  font-size: 40px;
}