.shelf-container {
  display: flex;
  height: 1200px;
}

.shelf-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  width: 87.7%;
}

#shelf-banner {
  margin: 7px;
}

.highligths-list {
  color:#D2D3D9;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 40px;
  width: 96.6%;
  scroll-behavior: smooth;
}

.shelf-h2 {
  font-size: 40px;
}

.tales-container {
  display: flex;
  margin-bottom: 50px;
}

.tales-card {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 324px;
  justify-content: center;
  margin-right: 5px;
  flex: 0 0 3.7%;
  transition: transform 300ms ease 100ms;
}

/* .tales-container:hover .tales-card {
  transform: translateX(-100%);
} */

/* .tales-container:hover ~ .tales-card {
  transform: translateX(25%);
}

.tales-card:hover {
  transform: scale(1.1) !important;
} */

.naoentendir {
  margin: auto;
  text-align: center;
  width: 230px;
}