.viewer-container {
  display: flex;
}

.viewer-content {
  color: #fff;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  width: 87.7%;
}

.history-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-viewer-content {
  align-items: center;
  display: flex;
}

.history-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 900px;
  margin-top: 30px;
  background-color: #000;
}

.viewer-btn {
  color: aliceblue;
  background: none;
  border: none;
  font-size: 60px;
  margin: 35px;
}

.tales-comments-container {
  margin-top: 20px;
  width: 600px;
}

#tale-comments {
  margin-top: 20px;
  width: 600px;
}

.slick-slider {
  width: 60% !important;
}

.slick-next:before, .slick-prev:before {
  font-size: 50px !important;
}

.slick-prev {
  z-index: 10;
}

@media only screen and (max-width: 1400px) {
  .history-page {
    min-height: 600px;;
  }
}