%btn-styles-favs {
  background-color: rgba(0, 0, 0, 0.534);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  position: absolute;
  top: 654px;
  transform: translateY(-50%);
}

%btn-styles-favs:focus {
  outline: none;
}

#goLeftFavs {
  left: 50px;
  @extend %btn-styles-favs
}

#goRightFavs {
  right: 50px;
  @extend %btn-styles-favs
}