%btn-styles-keep {
  background-color: #131624d5;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  position: absolute;
  top: 1120px;
  transform: translateY(-50%);
}

%btn-styles-keep:focus {
  outline: none;
}

#goLeftKeep {
  left: 50px;
  @extend %btn-styles-keep
}

#goRightKeep {
  right: 50px;
  @extend %btn-styles-keep
}