%btn-styles-series {
  background-color: rgba(0, 0, 0, 0.534);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  position: absolute;
  top: 2066px;
  transform: translateY(-50%);
}

%btn-styles-series:focus {
  outline: none;
}

#goLeftSeries {
  left: 50px;
  @extend %btn-styles-series
}

#goRightSeries {
  right: 50px;
  @extend %btn-styles-series
}
