.slider {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 260px;
  transition: 0.5s;
  position: relative;
  z-index: -1;
}

%btn-styles {
  background-color: #131624d5;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  position: absolute;
  top: 656px;
  transform: translateY(-50%);
}

%btn-styles:focus {
  outline: none;
}

#goLeft {
  left: 50px;
  @extend %btn-styles
}

#goRight {
  right: 50px;
  @extend %btn-styles
}