.slider {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 260px;
  transition: 0.5s;
  position: relative;
  z-index: -1;
}

%btn-styles {
  position: absolute;
  top: 652px;
  transform: translateY(-50%);
}

#goLeft {
  left: 0;
  @extend %btn-styles
}

#goRight {
  right: 100px;
  @extend %btn-styles
}