.topbar-container {
  align-items: center;
  background-color: #222643;
  display: flex;
  right: 0;
  justify-content: space-between;
  height: 75px;
}

#search-input-topbar {
  border: none;
  height: 50px;
  padding-left: 20px;
  margin-left: 40px;
  width: 290px;
}

#search-input:focus {
  outline: none;
}

.topbar-btn {
  background-color: #262C46;
  border: none;
  box-shadow: 0px 3px 6px #0000004D;
  color: #fff;
  width: 50px;
}

#btn-setting {
  padding-left: 2px;
  margin-right: 40px;
}

.top-icons {
  font-size: 20px;
}

.search-div {
  display: flex;
}

#search-icon {
  transform: scale(-1, 1);
}

.set-icons {
  height: 50px;
}

#search-btn {
  height: 100%;
  box-shadow: none;
}

.logo-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}